:root {
    --cor-fundo: #232323;
    --cor-linha: #cf7500;
    --cor-sublinhado: #f0a500;
    --cor-texto: #eeeeee;
}

* {
    padding: 0;
    margin: 0;
    background-color: var(--cor-fundo);
    font-family: sans-serif;
    color: var(--cor-texto);
}

body {
    padding-bottom: 20px;
}

#container {
    border: 1px solid var(--cor-linha);
    width: 92vw;
    margin: 10px auto 0 auto;
    padding: 10px;
    border-radius: 2px;
    padding-bottom: 20px;
}

h2, h3 {
    font-weight: bold;
    border-bottom: 5px solid var(--cor-sublinhado);
    display: inline-block;
}

h3 {
    margin-left: 10px;
    margin-top: 20px;
}

div#containerTitle {
    text-align: center;
}

p {
    margin: 1vw;
    text-align: justify;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 15px;
}

ul {
    margin-left: 35px;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}

div#img {
    text-align: center;
}

div#containerImg {
    display: inline-block;
    text-align: center;
}

div#containerImg div {
    display: inline-block;
}

input[type="file"] {
    display: none;
}

label {
    display: block;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 15px;
    border: 1px dashed var(--cor-linha);
    text-align: center;
    padding: 30px;
    transition: 0.25s;
    border-radius: 5px;
    justify-content: center;
}

label:hover{
    background-color: var(--cor-linha);
}

div#equipe p {
    margin-left: 15px;
}

@media only screen and (max-width: 656px) {
    div#containerImg div{
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 676px){
    #img1{
        margin-right: 5px;
    }
}

.negrito {
    font-weight: bold;
}